<router-outlet></router-outlet>

<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <input type="text" name="" id="" formControlName="message">
  <!-- <input type="text" name="" id="" formControlName="status"> -->
  <select name="" formControlName="status" id="">
    <!-- <option value="0"> Please select status</option> -->
    <ng-container *ngFor="let st of status">
      <option [value]="st.id">{{st.name}}</option>
    </ng-container>
  </select>
  <button type="submit">Add
  </button>
  <!-- <button type="button" (click)="onReset()">Reset</button> -->
</form>

{{form.value | json}}

<div class="buttons">
  <button (click)="onFilter(0)">All Tasks</button>
  <button *ngFor="let st of status" (click)="onFilter(st?.id)">{{st.name}}</button>
</div>

<table border="1">
  <thead>
    <tr>
      <td>Task</td>
      <td (click)="onSort()">Status</td>
      <td>Action</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let task of filtertasks">
      <td>{{task.message}}</td>
      <td>
        <span *ngIf="task.status === '1'">New</span>
        <span *ngIf="task.status === '2'">In progess</span>
        <span *ngIf="task.status === '3'">completed</span>
      </td>
      <td (click)="editTask(task)">edit</td>
      <td (click)="deleteTask(task)">Delete</td>
    </tr>
  </tbody>
</table>